{% extends 'base.html' %}

{% block title %}
{{object.name}}
{% endblock %}

{% block content %}
<ul>


            <h1> {{object.name}} </h1>
            <h5> Доля </h5>
            <h1> {{object.percent}} </h1>
            <h5> Количество упоминаний </h5>
            <h1> {{object.count}} </h1>
</ul>
<div>
<a class="btn btn-primary text-uppercase" href="{% url 'parser:city_list_update' pk=object.pk %}">Изменить</a>
<a class="btn btn-primary text-uppercase" href="{% url 'parser:city_list_delete' pk=object.pk %}">Удалить</a>

<a class="btn btn-primary text-uppercase" href="{% url 'parser:city_list' %}">Отмена</a>
</div>
{% endblock %}