{% extends 'base.html' %}

{% block title %}
{{data.name}}
{% endblock %}

{% block content %}

                    <h1> {{data.name}} </h1>

                    <div class="col-md-10 col-lg-8 col-xl-7">
                    <h2 class="section-heading">Доля</h2>

                   <h2 class="post-subtitle"> {{data.percent}}  </h2>
                    <h2 class="section-heading">Количество упоминаний</h2>

                   <h2 class="post-subtitle"> {{data.count}}  </h2>

                    </div>

<div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="{% url 'parser:result' %}">Результаты - навыки</a></div>


{% endblock %}